class strong{
    color: #2493df;    
}
footer{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
heading{
    font-size: 20px;
    letter-spacing:2px;
    text-align: center;
    padding: 10px;
}
#labels {
    font-size: 16px;
    font-weight: bold;
}
.section {
padding: 10px;
background-color: white;
}
body {
    background-color: #F6E6C2;
}
ul { 
    list-style-type: square;
    list-style-position: outside;
    padding: 30px;
}
#buy {
    background-color: #687373;
    margin-top: 10px;
    color: #fcfcfc;
    padding: 2px;
    text-align: center;
    position:fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    box-sizing: border-box;
}
input[type="number"] {
    padding:2px;
    text-align: center;
    width:50px;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 10px;
}
th {
background-color: #2493df;
color: white;
}
form {
    display: flex;
}
.form-section {
    flex: 1;
}
input [type="button"]:hover {
height: 40px;
width: 100%;
}
img {
    float: left;
    margin: 10px;
}
